@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #cafdff;
}
header {
  background-color: #eadcff;
  height: calc(100vh-70vh);
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subheader {
  font-size: 36px;
  margin: 16px 0 24px 0;
}
button {
  background-color: #05c7cf;
  color: white;
  padding: 8px 16px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  width: 100%;
}
.logo {
  max-width: 480px;
}
a {
  color: black;
  font-size: 24px;
  font-weight: 700;
}

ul {
  display: flex;
}
li {
  list-style-type: none;
  padding-left: 16px;
}
.row {
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 

About

*/

#About {
  padding: 48px 0;
  background-color: #f8ffdc;
}

h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 24px;
}
.section__description {
  display: flex;
  justify-content: center;
  align-items: center;
}
.About__img--wrapper {
  width: 40%;
}
img {
  width: 100%;
}
.section__description--wrapper {
  width: 60%;
}
.About__img--wrapper,
.section__description--wrapper {
  width: 60%;
  padding: 0 24px;
}
.section__description--para {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 24px;
}

#About,
#Contact,
#Discord #footer {
  padding: 48px 0;
}

/* 

About

*/

#Discord {
  background-color: #cafdff;
}

/* 

Contact

*/

#Contact {
  background-color: #eadcff;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}
input,
textarea {
  margin-bottom: 24px;
  font-size: 20px;
  padding: 6px 12px;
}

/* 

Footer

*/

footer {
  background-color: #cafdff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__links {
  margin-bottom: 32ex;
}
.footer__logo {
  max-width: 480px;
  margin: 16px 0;
}
.footer__links {
  margin-bottom: 32px;
}

.footer__link {
  padding: 0 16px;
}
/* Small phone, Tablets, large phones */
@media (max-width: 728px) {
  .row {
    flex-direction: column;
  }

  .home__description {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-align: center;
    font-size: 60px;
  }
  .subheader {
    text-align: center;
    font-size: 28px;
  }
  ul{
    display: none;
  }
  .section__description{
    flex-direction: column;
  }
  .section__description--wrapper{
    width: 100%;
  }
  .About__img--wrapper{
    width: 100%;
    padding-top: 15px;
  }
  #discord .section__description{
    flex-direction: column-reverse;
  }
  footer{
    padding: 48px 24px;
  }
  .footer__logo{
    max-width: 360px;
  }
  .footer__link{
    padding: 0 4px;
    font-size: 18px;
  }
  .footer__links{
    margin-bottom: 24px;
  }
}

